body{
    font-family: Arial;
}

.content{
    text-align: center;
    width: 45%;
    float: left;
}

#canvas {
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
}

.clearfix{
    clear: both;
}

.animacion{
    width: 100%;
    border: 1px solid black;
}